.carr-billing-summary{
  height:150px;
  width: 100%;
  margin-top: 10px;
  background-color: white;
}

.car-summary{
  background-color: white;
  width: 100%;
}

.car-summary-1{
  float:left;
  text-align: left;
  background-color: white;
  width:100%;
  padding-left: 10px;
}
.car-summary-2{
  float:left;
  text-align: left;
  background-color: white;
  width:100%;
  padding-left: 10px;

}
.car-summary-support{
  margin-top: 10px;
  float:left;
  text-align: left;
  background-color: white;
  width:100%;
  padding-left: 10px;
}
.car-billing-body {
  display: inline;
}

.car-billing-body-left-nav{
  display:inline;
  margin-top:0px;
  padding-top:0px;
  width: 20%;
  height: 3000px;
  background-color: #f1f1f1;
  float:left;
}
.car-billing-body-centre{
  display:inline;
  background-color: #f1f1f1;
  width: 60%;
  height: 3000px;
  float:left;
  align: left;


}
.car-billing-body-right-nav{
  display:inline;
  width: 20%;
  height: 3000px;
  background-color: #f1f1f1;
  float: left;
    align: left;

}

.car-billing-page{
  background-color: red;
}

.car-billing-page-header{
  background-color: #0f1011;
  padding-bottom: 0px;

}



.flight-billing-body-left-nav{
  display:inline;
  float: left;
  width: 20%;
  height: 2300px;
  background-color: #f1f1f1;
}
.flight-billing-body-centre{
  display:inline;
  float: left;
  background-color: #f1f1f1;
  width: 60%;
  height: 2300px;

}
.flight-billing-body-right-nav{
  display:inline;
  float: left;
  width: 20%;
  height: 2300px;
  background-color: #f1f1f1;
}

.flight-billing-page{
  background-color: #f1f1f1;
}

.flight-billing-page-header{
  background-color: #0f1011;
  padding-bottom: 0px;
}


.flights-terms-and-conditions{
  width:97%;
  height:500px;
  background-color: white;
  margin-top: 7px;
  margin-left:  7px;
  padding: 10px;
  padding-top:  35px;

}

.flight-cancellation-change-policy{
  width:95%;
  height:200px;
  background-color: white;
  margin-top: 7px;
  margin-left:  7px;
  padding: 7px;
  font-size: 9pt;
  background-color: #eff1f4;
}

.flight-policy1{
  width:95%;
  height:60px;
  background-color: white;
  margin-top: 7px;
  margin-left:  7px;
  padding: 7px;
  font-size: 9pt;
  background-color: #eff1f4;
}


.hotel-billing-body-left-nav{
  display:inline;
  float: left;
  width: 20%;
  height: 1900px;
  background-color: #f1f1f1;
}
.hotel-billing-body-centre{
  display:inline;
  float: left;
  background-color: #f1f1f1;
  width: 60%;
  height: 1900px;
;

}
.hotel-billing-body-right-nav{
  display:inline;
  float: left;
  width: 20%;
  height: 1900px;
  background-color: #f1f1f1;
}
